{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}
{% load mathfilters %}
{% block content %}
{% load humanize %}
<div class = "mobile-div-top">
    <div>
        <div id = "bag-wrap">
            {% if bag_items %}
            <div class = "bag-info-large" id = "bag-descriptions">
                <div class = "bag-desc-info">
                    <p><strong>Product Info</strong></p>
                </div>
                <div class = "bag-item-digits">
                    <p><strong>Price</strong></p>
                </div>
                <div class = "bag-item-digits">
                    <p><strong>Qty></strong></p>
                </div>
                <div class = "bag-item-digits">
                    <p><strong>Subtotal</strong></p>
                </div>
            </div>
            {% for item in bag_items %}
                <div class = "bag-info-large bag-item-wrap">
                    <div class = "bag-item-image">
                        <img src = "{{ item.product.image.url }}">
                    </div>
                    <div class = "bag-item-info">
                        <p class = "my-0">{{ item.product.name }}</p>
                        <p class = "text-muted">{{ item.product.sku|upper }}</p>
                        {% if item.product.has_sizes %}
                            {% if item.product.has_subscription %}
                            <p class = "my-0">{{ item.size|upper }} Month subscription</p>
                            {% else %}
                            <p class = "my-0">Size: {{ item.size|upper }}</p>
                            {% endif %}
                        {% endif %} 
                    </div>
                    <div class = "bag-item-digits">
                        <p>${{ item.product.price|intcomma }}</p>
                    </div>
                    <div class = "bag-item-digits">
                        <p>{{ item.quantity|apnumber|capfirst }}</p>
                    </div>
                    <div class = "bag-item-digits">
                        {% if item.product.has_subscription %}
                        <p>${{ item.product.price|mul:item.quantity|mul:item.size|intcomma }}</p>
                        {% else %}
                        <p>${{ item.product.price|mul:item.quantity|intcomma }}</p>
                    </div>
                    <div class = "bag-item-digits edit-bag-div">
                        <form class = "form" action="{% url 'remove_from_bag' item.product.id %}" method = "POST">
                            {% csrf_token %}
                            <button class = "remove-button" type = "submit"><i class="fas fa-times"></i></button>
                            <input type = "hidden" name = "redirect_url" value = "{{ request.path }}">
                            {% if item.product.has_sizes %}
                                <input type = "hidden" name = "product_size" value = "{{ item.size }}">
                            {% endif %}
                            {% endif %}
                        </form>
                    </div>
                    {% if product.stripe_subscription_price %}
                    <input type="hidden" name="priceId" value="{{ product.stripe_subscription_price }}" />
                    {% endif %}
                </div>
                <div class = "bag-info-small container-fluid">
                    <div class = "row">
                        <div class = "bag-item-image col-6">
                            {% if item.product.image %}
                                <img src = "{{ item.product.image.url }}" alt = "{{ item.product.name }}">
                            {% else %}
                                <img src = "{{ MEDIA_URL }}noimage.png" alt = "{{ item.product.name }}">
                            {% endif %}
                        </div>
                        <div class = "col-6">
                            <p class = "my-0">{{ item.product.name }}</p>
                            <p class = "text-muted">{{ item.product.sku|upper }}</p>
                            {% if item.product.has_sizes %}
                                {% if item.product.has_subscription %}
                                    <p class = "my-0">{{ item.size }} Month Subscription</p>
                                {% else %}
                                    <p class = "my-0">Size: {{ item.size|upper }}</p>
                                {% endif %}
                            {% endif %} 
                        </div>
                    </div>
                    <div class = "row">
                        <div class = "col-4">
                            <p>Price</p>
                        </div>
                        <div class = "col-3">
                            <p>Qty</p>
                        </div>
                        <div class = "col-4">
                            <p>Total</p>
                        </div>
                        <div class = "col-1">
                        </div>
                    </div>
                    <div class = "row">
                        <div class = "col-4">
                            {% if item.product.has_subscription %}
                            <p>${{ item.product.price|mul:item.size }}</p>
                            {% else %}
                            <p>${{ item.product.price }}</p>
                            {% endif %}
                        </div>
                        <div class = "col-3">
                            <p>{{ item.quantity|apnumber|capfirst }}</p>
                        </div>
                        <div class = "col-4">
                            {% if item.product.has_subscription %}
                            <p>${{ item.product.price|mul:item.quantity|mul:item.size|intcomma }}</p>
                            {% else %}
                            <p>${{ item.product.price|mul:item.quantity|intcomma }}</p>
                            {% endif %}
                        </div>
                        <div class = "col-1">
                            <form class = "form" action="{% url 'remove_from_bag' item.product.id %}" method = "POST">
                                {% csrf_token %}
                                <button class = "remove-button" type = "submit"><i class="fas fa-times"></i></button>
                                <input type = "hidden" name = "redirect_url" value = "{{ request.path }}">
                                {% if item.product.has_sizes %}
                                    <input type = "hidden" name = "product_size" value = "{{ item.size }}">
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div>
                <form action = "{% url 'checkout' %}" method = "POST" id = "payment-form">
                    {% csrf_token %}
                    {{ order_form.full_name | as_crispy_field }}
                    {{ order_form.email | as_crispy_field }}
                    {{ order_form.phone_number | as_crispy_field }}
                    {{ order_form.country | as_crispy_field }}
                    {{ order_form.postcode | as_crispy_field }}
                    {{ order_form.town_or_city | as_crispy_field }}
                    {{ order_form.street_address1 | as_crispy_field }}
                    {{ order_form.street_address2 | as_crispy_field }}
                    {{ order_form.county | as_crispy_field }}
                    <div class="form-check form-check-inline float-right mr-0">
                        {% if user.is_authenticated %}
                            <label class="form-check-label" for="id-save-info">Save this delivery information to my profile</label>
                            <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
                        {% else %}
                            <label class="form-check-label" for="id-save-info">
                                <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or 
                                <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
                            </label>
                        {% endif %}
                    </div>
                    <fieldset class="px-3">
                        <legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>

                        <div class="mb-3" id="card-element"></div>

                        
                        <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                        <input type="hidden" value="{{ client_secret }}" name="client_secret">
                    </fieldset>
                    <div class =submit-button>
                        <a href = "{% url 'view_bag' %}">
                            <p>Adjust bag</p>
                        </a>
                        <button id = "submit-button">Make Order</button>
                        <p>Your card will be charged ${{ grand_total|floatformat:2|intcomma }} + $5 Delivery</p>
                </form>
            </div>
        </div>    
    </div>
    {% else %}
    <p class = "lead mb-5">Your bag is empty</p>
    <a href = "{% url 'shop' %}" class = "btn btn-outline-black rounded-0 btn-lg">
        <span class = "icon">
            <i class = "fas fa-chavron-left"></i>
        </span>
        <span class= "text-uppercase">Keep Shopping</span>
    </a>
    {% endif %}
</div>
<div id = "loading-overlay">
    <h1 class = "text-light logo-font loading-spinner">
        <span class = "icon">
            <i class = "fas fa-3x fa-sync-alt fa-spin"></i>
        </span>
    </h1>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src = "{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}