{% extends "base.html" %}
{% load mathfilters %}
{% block content %}
<div class = "mobile-div-top">
    <div>
        <div id = "bag-wrap">
            {% if bag_items %}
            <div id = "bag-descriptions">
                <div class = "bag-desc-info">
                    <strong><p>Product Info</p></strong>
                </div>
                <div class = "bag-item-digits">
                    <strong><p>Price</p></strong>
                </div>
                <div class = "bag-item-digits">
                    <strong><p>Qty</p></strong>
                </div>
                <div class = "bag-item-digits">
                    <strong><p>Subtotal</p></strong>
                </div>
            </div>
            {% for item in bag_items %}
                <div class = "bag-item-wrap">
                    <div class = "bag-item-image">
                        <img src = "{{ item.product.image.url }}">
                    </div>
                    <div class = "bag-item-info">
                        <p class = "my-0">{{ item.product.name }}</p>
                        <p class = "text-muted">{{ item.product.sku|upper }}</p>
                        {% if item.product.has_sizes %}
                          <p class = "my-0">Size: {{ item.size|upper }}</p>
                        {% endif %} 
                    </div>
                    <div class = "bag-item-digits">
                        <p>${{ item.product.price }}</p>
                    </div>
                    <div class = "bag-item-digits">
                        <p>{{ item.quantity }}</p>
                    </div>
                    <div class = "bag-item-digits">
                        <p>${{ item.product.price|mul:item.quantity }}</p>
                    </div>
                    <div class = "bag-item-digits edit-bag-div">
                        <form class = "form" action="{% url 'remove_from_bag' item.product.id %}" method = "POST">
                            {% csrf_token %}
                            <button id = "remove-button" type = "submit"><i class="fas fa-times"></i></button>
                            <input type = "hidden" name = "redirect_url" value = "{{ request.path }}">
                            {% if item.product.has_sizes %}
                                <input type = "hidden" name = "product_size" value = "{{ item.size }}">
                            {% endif %}
                        </form>
                    </div>
                </div>
            {% endfor %}
            <div>
                <form action = "{% url 'checkout' %}" method = "POST" id = "payment-form">
                    {% csrf_token %}
                    {{ order_form.full_name | as_crispy_field }}
                    {{ order_form.email | as_crispy_field }}
                    {{ order_form.phone_number | as_crispy_field }}
                    {{ order_form.country | as_crispy_field }}
                    {{ order_form.postcode | as_crispy_field }}
                    {{ order_form.town_or_city | as_crispy_field }}
                    {{ order_form.street_address1 | as_crispy_field }}
                    {{ order_form.street_address2 | as_crispy_field }}
                    {{ order_form.county | as_crispy_field }}
                    <div>
                        {% if user.is_authenticated %}
                            <label for = "id-save-info">Save delivery to profile</label>
                            <input id = "id-save-info" name = "save-info">
                        {% else %}
                            <label for = "id-save-info">
                            <a href = "{% url 'account_signup' %}">Create an account</a> or
                            <a href = "{% url 'account_login' %}">login</a> to save to profile
                            </label>
                        {% endif %}
                    </div>
                    <div id = "card-element"></div>

                    <div id = "card-errors"></div>

                    <div class =submit-button>
                        <a href = "{% url 'view_bag' %}">
                            <p>Adjust bag</p>
                        </a>
                        <button id = "submit-button">Make Order</button>
                        <p>Your card will be charged ${{ grand_total|floatformat:2 }}</p>
                </form>
            </div>
        </div>    
    </div>
    {% else %}
    <p class = "lead mb-5">Your bag is empty</p>
    <a href = "{% url 'shop' %}" class = "btn btn-outline-black rounded-0 btn-lg">
        <span class = "icon">
            <i class = "fas fa-chavron-left"></i>
        </span>
        <span class= "text-uppercase">Keep Shopping</span>
    </a>
    {% endif %}
</div>
{% endblock %}