*{
    margin: 0px;
    padding: 0px;
}

header{
    height: 64px;
}

#homeDisplay{
    height: calc(100vh - 64px);
    position: relative;
    width: 100%;
    max-width:100%;
    overflow: hidden;
}
  
  
#box1{
    background: url("/media/scrollingimage/scrollimage1.jpg") no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0%;
}
  
#box2{
    background: url("/media/scrollingimage/scrollimage2.jpg") no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 100%;
}
  
#box3{
    background: url("/media/scrollingimage/scrollimage3.jpg") no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 200%;
}

#header-ul{
    display: inline;
    margin: auto;
}

.text-black{
    color: black;
}

#shop-lav-col-large{
    height: calc(100vh - 64px);
}

.dropdown-menu{
    position:absolute;
}

/* to position mobile navbar */
#mobile-dropdown-menu{
    position: absolute;
    left: 0px;
}

#shop-products-wrap{
    width: 100%;
}

.product-wrap{
    float: left;
    width: 31%;
    margin: 0px 1% 20px 1%;
}

.product-name{
    text-align: center;
}

.product-image{
    max-height: 200px;
    object-fit: cover;
    
}

#bag-wrap{
    width: 90%;
    margin: 0% 5% 0% 5%;
    min-height: calc(100% - 130px);
}

.bag-item-wrap{
    width: 100%;
    height: 250px;
}

.bag-item-image{
    width: 20%;
    float: left;
    text-align: center;
    display: block;
}

.bag-item-digits{
    width: 10%;
    float:left;
}

.bag-item-image img{
    max-height: 230px;
    max-width:90%;
    margin: 10px 0px 10px 0px;
}

.bag-item-info{
    width: 40%;
    float: left;
}

.bag-desc-info{
    width: 60%;
    float: left;
}

#bag-descriptions{
    width: 100%;
    height: 40px;
}

#grand-total-div{
    width: 10%;
    margin: 0% 10% 0% 80%;
}

.product-title-card{
    height: 48px;
    padding: 0px;
}

#remove-button{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.home-page-ad{
    width: 400px;
    height: auto;
    background-color: transparent;
    background-color: rgba(255,255,255,0.5);
}

.outer-box{
    position: relative;
}

.inner-box{
    width: 400px;
    height: 300px;
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 200px);
    color: white;
    z-index: 9999;
}

.allauth-base-wrap{
    text-align: center;
    position: relative;
}

.allauth-account-interaction{
    width: 320px;
    display: inline-block;
    margin: 0 auto;
    position: absolute;
    left: calc(50% - 160px);
    top: calc(50% + 133px);
}

.edit-product-in-view-product{
    color: #a6a6a6;
    float: right;
    margin: 0px 10px 0 10px;
}

.edit-product-in-view-product:hover{
    color: #8c8c8c;
    float: right;
}


.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"]{
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before{
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

#review-div{
    margin-left:auto;
}


footer{
    background-color: #0f0f0f;
    overflow: auto;
}

#footerbox{
    float: right;
    margin: 10px;
}

#footerbox a{
    color: #f0f0f0;
    font-size: 30px;
}

.allauth-base-wrap{
    height: calc(100% - 130px);
}

#overlay{
    height: calc(100% - 64px);
    width: 100%;
    position: absolute;
    left: 0px;
    top: 64px;
    background-color: rgba(0,0,0,0.7);
    z-index: 800;
}

.button-home{
    background-color: #248bc6;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


@media only screen and (max-width: 992px) {
    #mobile-header{
        z-index: 5;
        background-color: white;
        height: 40px;
    }

    #mobile-search{
        position: absolute;
        right: 0px;
        top: 0px;
    }

    #mobile-navbar{
        width: 250px;
    }

    #homeDisplay{
        height: calc(100vh - 40px);
        margin-top: 40px;
    }

    .nav-option-mobile{
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .mobile-div-top{
        margin-top: 40px;
    }

    #bag-wrap{
        width: 98%;
        margin: 0% 1% 0% 1%;
    }

    .edit-bag-div{
        text-align: center;
    }
}

