*{
    margin: 0px;
    padding: 0px;
}

header{
    height: 64px;
}

#homeDisplay{
    height: calc(100vh - 64px);
    position: relative;
    margin-top: 64px;
    width: 100%;
    max-width:100%;
    overflow: hidden;
}
  
  
#box1{
    background: url("/media/scrollimage2.jpg") no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0%;
}
  
#box2{
    background-color: blue;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 100%;
}
  
#box3{
    background: url("/media/scrollimage3.jpg") no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 200%;
}

#header-ul{
    display: inline;
    margin: auto;
}