<nav class="navbar text-black float-start">
  <div class="container">
    <div class="navbar-header">
      <a type="button" class="text-black fw-bold text-decoration-none navbar-toggle collapsed" data-toggle="collapse" data-target="#mobile-navbar" aria-expanded="false" aria-controls="navbar" href="#"><i class="fas fa-bars"></i></a>
    </div>
    <div id="mobile-navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a class="navbar-header fw-bold text-black text-decoration-none"  href = "{% url 'home' %}" >Home</a></li>
        <li><a class="navbar-header fw-bold text-black text-decoration-none"  href = "{% url 'shop' %}" >Shop</a></li>
        <li>
        <nav class="navbar text-black">
          <div class="container">
            <div class="navbar-header">
              <a type="button" class="text-black fw-bold text-decoration-none navbar-toggle collapsed" data-toggle="collapse" data-target="#product-mobile-bar" aria-expanded="false" aria-controls="navbar" href="#">Products</a>
            </div>
            <div id="product-mobile-bar" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li>
                  <li>
                    <nav class="navbar text-black">
                      <div class="container">
                        <div class="navbar-header">
                          <a type="button" class="text-black fw-bold text-decoration-none navbar-toggle collapsed" data-toggle="collapse" data-target="#workout-equipment-bar" aria-expanded="false" aria-controls="navbar" href="#">Workout Equipment</a>
                        </div>
                        <div id="workout-equipment-bar" class="collapse navbar-collapse">
                          <ul class="nav navbar-nav">
                            <li class="active"><a class="text-black text-decoration-none" href="#">Weights</a></li>
                            <li><a class="text-black text-decoration-none" href="">Bodyweight Fitness</a></li>
                            <li><a class="text-black text-decoration-none" href="">Athletic Clothes</a></li>
                          </ul>
                        </div>
                      </div>
                    </nav>
                  </li>
                  <li>
                    <nav class="navbar text-black">
                      <div class="container">
                        <div class="navbar-header">
                          <a type="button" class="text-black fw-bold text-decoration-none navbar-toggle collapsed" data-toggle="collapse" data-target="#supplement-bar" aria-expanded="false" aria-controls="navbar" href="#">Supplements</a>
                        </div>
                        <div id="supplement-bar" class="collapse navbar-collapse">
                          <ul class="nav navbar-nav">
                            <li class="active"><a class="text-black text-decoration-none" href="#">Protein Supplements</a></li>
                            <li><a class="text-black text-decoration-none" href="">General Health</a></li>
                            <li><a class="text-black text-decoration-none" href="">High Protein Food</a></li>
                          </ul>
                        </div>
                      </div>
                    </nav>
                  </li>
                  <li>
                    <nav class="navbar text-black">
                      <div class="container">
                        <div class="navbar-header">
                          <a type="button" class="text-black fw-bold text-decoration-none navbar-toggle collapsed" data-toggle="collapse" data-target="#plan-bar" aria-expanded="false" aria-controls="navbar" href="#">Plans</a>
                        </div>
                        <div id="plan-bar" class="collapse navbar-collapse">
                          <ul class="nav navbar-nav">
                            <li class="active"><a class="text-black text-decoration-none" href="#">Exercise Plans</a></li>
                            <li><a class="text-black text-decoration-none" href="">Nutrition Plans</a></li>
                          </ul>
                        </div>
                      </div>
                    </nav>
                  </li>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        </li>
        <li>
          <nav class="navbar text-black">
            <div class="container">
              <div class="navbar-header">
                <a type="button" class="text-black fw-bold text-decoration-none navbar-toggle collapsed" data-toggle="collapse" data-target="#mobile-account-bar" aria-expanded="false" aria-controls="navbar" href="#">Account</a>
              </div>
              <div id="mobile-account-bar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                  {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                      <li class="active"><a class="text-black text-decoration-none" href="#">Product Management</a></li>
                    {% endif %}
                    <li><a class="text-black text-decoration-none" href="">My Profile</a></li>
                    <li><a class="text-black text-decoration-none" href = "{% url 'account_logout' %}">Logout</a></li>
                  {% else %}
                    <li><a class="text-black text-decoration-none" href = "{% url 'account_signup' %}">Register</a></li>
                    <li><a class="text-black text-decoration-none" href = "{% url 'account_login' %}">Login</a></li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </nav>
        </li>
      </ul>
    </div>
  </div>
</nav>