<nav class="navbar">
    <div class="container">
      <div class="navbar-header">
        
        
        <a type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#workout-equipment-bar" aria-expanded="false" aria-controls="navbar" href="#">Workout Equipment</a>

      </div>
      <div id="workout-equipment-bar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Weights</a></li>
          <li><a href="">Bodyweight Fitness</a></li>
          <li><a href="">Athletic Clothes</a></li>
        </ul>
      </div>
    </div>
  </nav>