{% extends "base.html" %}
{% load static %}
{% block extra_js %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}

{% block content %}
<div>
    <h3>Recent Posts</h3>
</div>
<div>
    <form method="POST" action="{% url 'add_post' %}" enctype="multipart/form-data">
    {% csrf_token %}
        <span>Post Title</span><br>
        <input type="text" id="post_title" name="post_title"><br>
        <span>Post Text</span><br>
        <textarea name="body_text" rows="4" cols="50"></textarea>
        <div class="text-right">
            <button class="btn btn-black rounded-0" type="submit">Add Review</button>
        </div>
        <br>
    </form>
</div>
{% endblock %}