{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
<div class = "container">
    <div class = "col-10">
        <h4>Palestra Forums</h4>
    </div>
</div>
<div class = "col-10 col-m-6 container">
    <div class = "col-12">
        <h5>Add post to site</h5>
    </div>
    <div class = "col-8">
        <form method="POST" action="{% url 'add_post' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <span>Post Title</span><br>
            <input type="text" id="post_title" name="post_title"><br>
            <span>Post Text</span><br>
            <textarea id = "add-post-text" name="body_text"></textarea>
            <div class="text-right">
                <button class="btn btn-black rounded-0" type="submit">Add Post</button>
            </div>
            <br>                
            <input type = "hidden" value = "post_id">
        </form>
    </div>
</div>
<div class = "col-10 col-m-6 container">
    <div class = "col-8">
        <h5>See latest posts</h5>
    </div>
</div><br>
{% for post in posts reversed %}
<div class = "col-lg-12 col-md-10 col-lg-8 border container blog-post">
    <div class = "row">
        <div class = "col-lg-4 col-md-3 col-lg-2 border-right">
            <p>{{ post.poster }}</strong></p>
            <p>{{ post.post_date|naturaltime }}</p>
        </div>
        <div class = "col-lg-8 col-md-7 col-lg-6">
            <p><strong><a href = "{% url 'view_post' post.id %}">{{ post.post_title }}</a></strong></p>
            <p>{{ post.body_text }}</p>
        </div>
    </div>
</div>
<br>
{% endfor %}
{% endblock %}