{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
<div>
    <h3>Recent Posts</h3>
</div>
<div>
    <form method="POST" action="{% url 'add_post' %}" enctype="multipart/form-data">
    {% csrf_token %}
        <span>Post Title</span><br>
        <input type="text" id="post_title" name="post_title"><br>
        <span>Post Text</span><br>
        <textarea name="body_text" rows="4" cols="50"></textarea>
        <div class="text-right">
            <button class="btn btn-black rounded-0" type="submit">Add Review</button>
        </div>
        <br>
    </form>
</div>
{% for post in posts %}
<div class = "col-10 border container blog-post">
    <div class = "row">
        <div class = "col-2 border-right">
            <p>{{ post.poster }}</strong></p>
            <p>{{ post.post_date|naturaltime }}</p>
        </div>
        <div class = "col-8">
            <p><strong>{{ post.post_title }}</strong></p>
            <p>{{ post.body_text }}</p>
        </div>
    </div>
</div>
<br>
{% endfor %}
{% endblock %}