{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}
{% load mathfilters %}
{% load humanize %}

{% block content %}
<div class = "mobile-div-top">
    <h2>My Profile</h2>
<div>
    <a href = "{% url 'post_search' %}"><span>Posts</span></a>
    <a href = "{% url 'profile' %}"><span>Orders</span></a>
</div>
<div class="row">
    <div class="col-12">
        <form method="POST" action="{% url 'add_product' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy }}
    </div>
</div>
{% endblock %}