{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
<div class = "container">
    <div class = "col-10">
        <h4>Palestra Forums</h4>
    </div>
</div>
<div class = "border col-6 container">
    <div class = "col-6">
        <span class = "h4"><strong>{{ post.post_title }}  </strong></span>
        <span class = "text-muted">  Posted by {{ post.poster }}</span><br>
        <p>{{ post.body_text }}</p><br>
    </div>
    <div class = "col-6">
        {{ post.post_date|naturalday }}
    </div>
</div><br>
<div class = "col-6 container">
    <div class = "col-6">
        <form method="POST" action="{% url 'add_comment' post.id %}" enctype="multipart/form-data">
            {% csrf_token %}
            <span>Leave a Comment</span><br>
            <textarea name="comment_text" rows="4" cols="50"></textarea>
            <div class="text-right">
                <button class="btn btn-black rounded-0" type="submit">Send</button>
                <input type = "hidden" value = "{{ post.id }}">
            </div>
            <br>
        </form>
    </div>
</div>
<div class = "col-6 container">
    {% for comment in comment %}

            <div class = "col-6">
                <p>COMMENT CHECK</p>
            </div>

    {% endfor %}
</div>
{% endblock %}