{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row">
    <div id = "shop-nav-col-large" class="d-none d-lg-block d-md-none col-md-3 border-end position-sticky">
      <h5>Product Types</h5>
      {% include 'includes/shopnavlarge.html' %}
    </div>
    <div class="container col-12 col-md-9">
      <h5>Available</h5>
        <div id = "shop-products-wrap">
          {% for product in products %}
          <div class = "product-wrap">
            {% if product.image %}
              <a href = "">
                <img class = "product-image card-img-top img-fluid" src = "{{ product.image.url }}" alt = "{{ product.name }}">
              </a>
            {% else %}
              <a href = "">
                <img class = "product-image card-img-top img-fluid" src = "{{ MEDIA_URL }}noimage.jpeg" alt = "{{ product.name }}">
              </a>
            {% endif %}
            <div class = "card-body pb-0 product-name">
              <h6 class = "mb-0">{{ product.name }}</h6>
            </div>
            <div class = "card-footer pt-0 border-0 text-left">
              <div class = "row">
                <div class = "col">
                  <p class = "lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                    {% if product.rating %}
                      <small class = "text-muted">{{ product.rating }} / 5</small>
                    {% else %}
                      <small class = "text-muted">No Rating</small>
                    {% endif %}
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}