{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row">
    <div id = "shop-nav-col-large" class="d-none d-lg-block d-md-none col-md-3 border-end position-sticky">
      <h5>Product Types</h5>
      {% include 'includes/shopnavlarge.html' %}
    </div>
    <div class="container col-12 col-md-9">
      <h5>Available</h5>
        <div id = "shop-products-wrap">
          {% for product in products %}
          <div class = "product-wrap">
            {% if product.image %}
              <a href = "">
                <img class = "product-image card-img-top img-fluid" src = "{{ product.image.url }}" alt = "{{ product.name }}">
              </a>
            {% else %}
              <a href = "">
                <img class = "product-image card-img-top img-fluid" src = "{{ MEDIA_URL }}noimage.jpeg" alt = "{{ product.name }}">
              </a>
            {% endif %}
            <div>
              {{ product.name }}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}