{% extends "base.html" %}
{% load static %}
{% block extra_js %}
{% load humanize %}
{% load mathfilters %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div id = "shop-nav-col-large" class="d-none d-lg-block d-md-none col-0 col-md-3 border-end position-sticky">
      <h5>Product Types</h5>
      {% include 'includes/shopnavlarge.html' %}
    </div>
    <div class="container col-12 col-lg-9 mobile-div-top">
      <h5>{{ product.name }}</h5>
      <div class = "row">
        <div class = "col-10 col-m-4">
          {% if product.image %}
            <a href= "{{ product.image.url }}" target="_blank">
              <img class = "product-image-view-page card-img-top img-fluid" src = "{{ product.image.url }}" alt = "{{ product.name }}">
            </a>
          {% else %}
            <img class = "product-image-view-page card-img-top img-fluid" src = "{{ MEDIA_URL }}noimage.png" alt = "{{ product.name }}">
          {% endif %}
        </div>
        <div class = "col-10 col-m-5">
          <div class = "product-details-container mb-5 mt-md-5">
            <p class ="mb-0">
              {{ product.name }}
              <span>
                {% if request.user.is_authenticated %}
                  {% if request.user.is_superuser %}
                    <a class = "edit-product-in-view-product" href = "{% url 'delete_product' product.id %}">
                      <i class="fas fa-trash-alt"></i>
                    </a>
                    <a class = "edit-product-in-view-product" href = "{% url 'edit_product' product.id %}">
                      <i class="fas fa-edit"></i>
                    </a>
                  {% endif %}
                {% endif %}
              </span>
            </p>
            <span>

            </span>
            {% if product.rating %}
              <small class = "text-muted">{{ product.rating }} / 5</small>
            {% else %}
              <small class = "text-muted">No Rating</small>
            {% endif %}

            <p class = "mt-3">Add a review</p>
              <form action="{% url 'add_review' product.id %}" method="POST" id="review-form">
                {% csrf_token %}
                <input min="1" max="5" type="number" name="rating-number">
                <input type="submit" value="submit" form="review-form">
              </form>
              <p class = "mt-3">{{ product.description }}</p>
              <p class = "lead mb-0 text-left font-weight-bold">{% if product.has_subscription %}${{ product.price|intcomma }} per month{% else %}${{ product.price|intcomma }}{% endif %}</p>
              {% if product.category %}
              <p class = "small mt-1 mb-0">
                <a class = "text-muted" href = "{% url 'shop' %}?category={{ product.category.name }}">
                  {{ product.category.friendly_name }}
                </a>
              </p>
              {% endif %}
              <form class = "form" action="{% url 'add_to_bag' product.id %}" method = "POST">
                {% csrf_token %}
                {% if product.has_sizes %}
                  {% if product.has_subscription  %}
                    <div class = "col-12">
                    <p>Subscription:</p>
                    <select class = "form-control rount-0 w-50" name = "product_size" id = "id_product_size">
                      <option value = 1 selected>1 Month(${{ product.price|mul:1 }})</option>
                      <option value = 3>3 Months(${{ product.price|mul:3 }})</option>
                      <option value = 6>6 Months(${{ product.price|mul:6 }})</option>
                      <option value = 12>12 Months(${{ product.price|mul:12 }})</option>
                    </select>
                  </div>
                  {% else %}
                  <div class = "col-12">
                    <p>Size:</p>
                    <select class = "form-control rount-0 w-50" name = "product_size" id = "id_product_size">
                      <option value = "xs">XS</option>
                      <option value = "s">S</option>
                      <option value = "m" selected>M</option>
                      <option value = "l">L</option>
                      <option value = "xl">XL</option>
                    </select>
                  </div>
                  {% endif %}
              {% endif %}
                <div class = "fore-row">
                  <div class = "col-12">
                    <p class ="mt-3">Quantity:</p>
                    <div class = "form-group w-50">
                      <div class = "input-group">
                        <button onclick="quantityMinusOne(this)" type="button" class="btn btn-dark btn-sm"><i class = "fas fa-minus"></i></button>
                        <input class = "form-control qty_input" type = "number" name = "quantity" value = "1" min = "1" max = "99" data-item_id = "{{ product.id }}" id = "id_qty_{{ product.id }}">
                        <button onclick="quantityPlusOne(this)" type="button" class="btn btn-dark btn-sm"><i class = "fas fa-plus"></i></button>
                      </div>
                    </div>
                  </div>
                  <div class = "col-12">
                    <a href = "{% url 'shop' %}" class = "btn rounded-0 mt-5">
                      <span class = "icon">
                        <i class = "fas fa-chevron-left"></i>
                      </span>
                      <span>Keep Shopping</span>
                    </a>
                    <input type = "submit" class = "btn btn-black rounded-0 text-uppercase mt-5" value = "Add to Bag">
                  </div>
                  <input type = "hidden" name = "redirect_url" value = "{{ request.path }}">
                </div>
              </form>
              </div>
          </div>
        </div>
      <div id = "review-div" class = "row">
        <div class = "w-100 p-3">
          <form method="POST" action="{% url 'add_text_review' product.id %}" enctype="multipart/form-data">
            {% csrf_token %}
            <span>Review Title</span><br>
            <input type="text" id="title" name="title"><br>
            <span>Number Rating</span><br>
            <input value="3" min="1" max="5" type="number" name="rating"><br>
            <span>Review Text</span><br>
            <textarea id = "review-text" name="r_text"></textarea>
            <div class="text-right">
                <button class="btn btn-black rounded-0" type="submit">Add Review</button>
            </div>
            <br>
        </form>
        {% for review in reviews %}
            {% if review.review_for_product_id == product.id%}
                <div class="border">
                  <p><span>{{ review.title }} </span><span>{{ review.rating }}/5</span></p>
                  <p>{{ review.review_text }}</p>
                  <p>Published By: {{ review.user }}</p>
                </div>
                <br>
            {% endif %}
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}